@import '_content/Blazored.Modal/Blazored.Modal.bundle.scp.css';
@import '_content/Microsoft.Fast.Components.FluentUI/Microsoft.Fast.Components.FluentUI.bundle.scp.css';

/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-gbat82rxcw] {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', sans-serif;
}

main[b-gbat82rxcw] {
    flex: 1;
}

.top-row[b-gbat82rxcw] {
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.top-row[b-gbat82rxcw]  a, .top-row[b-gbat82rxcw]  .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row[b-gbat82rxcw]  a:hover, .top-row[b-gbat82rxcw]  .btn-link:hover {
    text-decoration: underline;
}

.top-row[b-gbat82rxcw]  a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-gbat82rxcw] {
        display: none;
    }

    .top-row.auth[b-gbat82rxcw] {
        justify-content: space-between;
    }

    .top-row[b-gbat82rxcw]  a, .top-row[b-gbat82rxcw]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-gbat82rxcw] {
        flex-direction: row;
    }

    .sidebar[b-gbat82rxcw] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-gbat82rxcw] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-gbat82rxcw]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-gbat82rxcw], article[b-gbat82rxcw] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
    .navbar-toggler[b-bo06m0azow] {
        background-color: rgba(255, 255, 255, 0.1);
    }
    .navbar-brand[b-bo06m0azow] {
        font-size: 1.1rem;
    }

    .oi[b-bo06m0azow] {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .nav-item[b-bo06m0azow] {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

    .nav-item:first-of-type[b-bo06m0azow] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-bo06m0azow] {
        padding-bottom: 1rem;
    }

    .nav-item[b-bo06m0azow]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

    .nav-item[b-bo06m0azow]  a.active {
        background-color: rgba(255,255,255,0.25);
        color: white;
    }

    .nav-item[b-bo06m0azow]  a:hover {
        background-color: rgba(255,255,255,0.1);
        color: white;
    }

@media (min-width: 641px) {
    .navbar-toggler[b-bo06m0azow] {
        display: none;
    }

    .collapse[b-bo06m0azow] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
